/* PORTFOLIO */
/*FILTER*/
.portfolio__title {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
  }
  
.filter {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  
.filter__item {
    border: 0px;
    font-family: inherit;
    font-weight: $nav-font-weight;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
  }
  
.filter__item + .filter__item {
    margin-left: 8px;
  }
  
.button.secondary {
    padding: 6px 22px;
    transition: color 250ms $animation-timing,
      background-color 250ms $animation-timing,
      box-shadow 250ms $animation-timing;
    color: $title-text-color;
    background-color: $light-grey-color;
  }
  
.button.secondary:hover,
.button.secondary:focus  {
    color: $white-color;
    background-color: $accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  
  /* PORTFOLIO CARDS*/
.portfolio {
display: flex;
flex-wrap: wrap;
margin: -15px;
}
  
.portfolio__card {
    display: block;
    width: 370px;
    margin: 15px;
  }
  
.portfolio__link {
    display: block;
    transition: box-shadow 250ms $animation-timing;
  }
  
.portfolio__link:hover,
.portfolio__link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  
.portfolio__heading {
    margin-top: 0;
    margin-bottom: 4px;
    font-family: $title-font;
    font-weight: $bold-font-weight;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $title-text-color;
  }
  
.portfolio_img {
    display: inline-block;
    margin-bottom: 0;
  }
  
.portfolio__link:hover .portfolio__overlay,
.portfolio__link:focus .portfolio__overlay {
    transform: translateY(0);
    opacity: 1;
  }
  
.portfolio__thumb {
    position: relative;
    overflow: hidden;
  }
  
.portfolio__overlay {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    opacity: 0;
    transition: transform 250ms $animation-timing;
    background-color: rgba(33, 150, 243, 0.9);
  }
  
.portfolio__text {
    margin: 0;
    padding: 63px 24px;
    font-family: $primary-font;
    font-weight: $primary-font-weight;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: $white-color;
  }
  
.portfolio__desc {
    margin-top: 0;
    margin-bottom: 0;
    font-family: $primary-font;
    font-weight: $primary-font-weight;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: $primary-text-color;
  }
  
.portfolio__meta {
    padding: 20px 24px;
    border-bottom: 1px solid $light-grey-color;
    border-right: 1px solid $light-grey-color;
    border-left: 1px solid $light-grey-color;
    background-color: #fff;
  }

  