/* SECTION TEAM */
.section.bg {
  background-color: $light-grey-color;
}

.team__list {
  display: flex;
}
  .team__item {
    position: relative;
    width: 270px;
    margin-right: 30px;
    text-align: center;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

    background-color: $white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }

    &:last-child {
    margin-right: 0;
  }

  .team__name {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: $nav-font;
    font-weight: $nav-font-weight;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: $title-text-color;
  }

  .team__text {
    margin-top: 0;
    margin-bottom: 16px;
    font-family: $primary-font;
    font-weight: $primary-font-weight;
    font-size: 16px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: $primary-text-color;
  }

  .team__card {
    display: block;
    padding: 30px 30px;
  }