/* COMMON HTML, BODY*/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $primary-font;
  color: $primary-text-color;
  background-color: $white-color;
}

/* RESET STYLES */
.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a,
.link {
  text-decoration: none;
}
 
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}