/* COMMON HTML, BODY*/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $primary-font;
  color: $primary-text-color;
  background-color: $white-color;
}

/* RESET STYLES */
.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a,
.link {
  text-decoration: none;
}

/* COMMON FOR COMPONENTS */
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
  font-family: $title-font;
  font-weight: $bold-font-weight;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: $title-text-color;
}

.logo {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: $logo-font;
  font-weight: $logo-font-weight;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: $accent-color;
}

.button {
  display: inline-block;
  align-items: center;
  border-radius: 4px;
  border: none;
  font-family: $title-font;
  font-weight: $bold-font-weight;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.button.primary {
  min-width: 200px;
  padding: 10px 32px;
  color: $white-color;
  background-color: $accent-color;
}

/* LIST OF SOCIAL NETWORKS'ICONS */
.social-list {
  display: flex;
  justify-content: center;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social {
  @extend flex-center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: $icons-color;
  background-color: transparent;
  transition: color $animation-timing 250ms,
  background-color $animation-timing 250ms,
  border-radius $animation-timing 250ms;
}
.social:hover {
    border-radius: 50%;
    color: $white-color;
    background-color: $accent-color;
  }

.icon {
  fill: currentColor;
}
