$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$white-color: #ffffff;
$light-grey-color: #f5f4fa;
$dark-bg-color: #2f303a;
$icons-color: #afb1b8;

// Animation
$animation-timing: cubic-bezier(0.4, 0, 0.2, 1);

// Fonts
$logo-font: 'Raleway700';
$primary-font: 'Roboto400';
$nav-font: 'Roboto500';
$title-font: 'Roboto700';
$heading-font: 'Roboto900';

$bold_weight: 700;
$primary-font-weight: 400;
$nav-font-weight: 500;
$heading-font-weight: 900;





